body {
  font-family: Comic Sans MS;
}
.none {
  display:none;
}
.proof {
  width:300px;
  margin: 0 auto;
  display:block;
  flex-direction:row;
  flex-wrap:nowrap;
}
.board {
  width:100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
.btn {
  font-family: Comic Sans MS;
}
.borrow {
  height:13px;
  width: 32px;
  //background:#e0e0e7;;
  font-size: 8px;
  padding: 0;
}

.box-size {
  font-family: Comic Sans MS;
  height:32px;
  width: 32px;
  font-size:2em;
  text-align: center;
  align-content: center;
  //border: 1px solid gray
}
.border{ 
  border: 1px solid green
  
}
.rowWrapper {
    font-family: Comic Sans MS;
    display:flex;
    flex-direction:row;
    align-items: flex-start;
    align-content: center;
    justify-content: space-between;
  .filler {
     @extend .box-size;
  }
  .value {
    @extend .box-size;
    line-height: 32px;
  }
  .borrowCarry {
    @extend .box-size;
    background:white;
  }
  .answer {
    @extend .box-size;
    background:white;
  }
}

.config {
  border: 1px solid black;
  .difficulty-wrapper{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    width: 100%;
    padding:20px;
    .radio {
      margin-top: 0px;
      width:90px;
      height:30px;
      border: 1px solid black;
    // align-content: center;
    // vertical-align: top;
    }
  }
  .math-types{
    width:100%;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    padding: 20px;
    align-content: center;
  }
}
