body {
  font-family: Comic Sans MS;
}
.proof {
  width:300px;
  margin: 0 auto;
  display:block;
  flex-direction:row;
  flex-wrap:nowrap;
}

.board {
  width:200px;
  display:flex;
  flex-direction:row;
  flex-wrap:wrap;
  align-content: right;
}

.borrow {
  height:13px;
  width: 32px;
  //background:#e0e0e7;;
  font-size: 8px;
  padding: 0;
}

.box-size {
  font-family: Comic Sans MS;
  height:32px;
  width: 32px;
  font-size:2em;
  text-align: center;
  align-content: center;
  //border: 1px solid gray
}

.rowWrapper {
  font-family: Comic Sans MS;
  //background: #e0e0e7;
  display:flex;
  flex-direction:row;
  flex-wrap:wrap;
  .filler {
     @extend .box-size;
  }
  .value {
    @extend .box-size;
    line-height: 32px;
  }
  .borrowCarry {
    @extend .box-size;
    background:white;
  }
  .answer {
    @extend .box-size;
    background:white;
  }
}